@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

#root {
  font-family: Geist;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 5px;
}